body,html{
	height: 100%;
	width: 100%;
	font-family: 'Shadows Into Light', cursive;
	background: url(6.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
}

h1{
	font-size: 3rem;
	color: #feb236;
}

.buffer{
	height: 10rem;
}
hr{
	 margin: 20px auto;
    color: #feb236;
    border: 2px solid #feb236;
    max-width: 500px;
    opacity: 1;  
}

li{
list-style-type: square;
}

.title{
  display: flex;
  justify-content: center;
}

.title h1{
  background: #feb236;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 100px;
  box-shadow: rgb(0 0 0 / 30%) 0px 3px 3px;
}

.welcome{
  color: aliceblue;
  position: relative;
}

.btn-xl{
	padding: 1rem 2rem;
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;

}

.btn-primary{
	background-color: #feb236;
	color: #6b5b95;
	border-color:#feb236 ;
}

.btn-primary:hover{
	background-color:#6b5b95 ;
	border-color: #6b5b95;
	border-width: 4px;
}

.Education{
  color: aliceblue;
}

.education-text{
  padding-left: 1rem;
}

.education_text{
  padding-left: 5rem;
}

.ed-text{
  padding-left: 4rem;
  padding-bottom: 1rem;
}

.work{
  color: aliceblue;
}

.job-title{
  text-decoration: underline;
  text-size-adjust: 10px;
}

.rto-text{
  padding-left: 4rem;
}

.team-text{
  padding-left: 4rem;
}

.program{
  color: aliceblue;
}

.projects{
  color: aliceblue;
}

