.title {
  display: flex;
  justify-content: center;
}

.welcome {
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  padding-bottom: 1rem;
}

.education {
  text-decoration: underline;
  text-align: center;
  padding-right: 3rem;
  padding-bottom: 0%;
}
.ed-text {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 0.5rem;
}

.job-title {
  text-decoration: underline;
  text-size-adjust: 10px;
  text-align: left;
  font-size: 30px;
}
.job-text {
  text-align: left;
  padding-left: 4rem;
  font-size: 20px;
  padding-right: 2rem;
}

.company {
  font-weight: 900;
  text-align: left;
  font-size: 40px;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.Section__item {
  text-align: left;
  margin: 0 0 45px;
}

.Section__item:last-child {
  margin: 0;
}

.Section__item-header {
  line-height: 1;
  font-weight: 700;
  font-size: 40px;
  margin: 0 0 10px;
}

.Section__item-content {
  /* margin-left: 25px; */
  margin: 0 0 30px;
}

.Section__item-subheader {
  line-height: 1;
  text-decoration: underline;
  font-size: 30px;
  margin: 0 0 10px;
}

.Section__item-description {
  font-size: 20px;
}

.image {
  display: flexbox;
  height: 200px;
  width: 250px;
  padding-right: 3rem;
  margin-left: 50px;
}

.image__bullet {
  height: 50px;
  width: 80px;
  padding-right: 1rem;
}
