.header-image {
  height: 350px;
  width: 250px;
}

.image__grid-content {
  justify-content: center;
  max-width: 100%;
  height: 500px;
  width: 500px;
  margin: 1rem;
  border: 10px solid #fff;
  box-shadow: 10px 10px 10px black;
}
